# Dictionaries allows you to store keys, value pairs.
# Also knows as, Maps, Hashtables, Associate Arrays

In [1]:
d = {"nashit":8764018460,"jerry":8764018461,"tom":8764018462}

In [2]:
d

{'nashit': 8764018460, 'jerry': 8764018461, 'tom': 8764018462}

In [3]:
d['nashit']

8764018460

In [4]:
d[1]

KeyError: 1

In [5]:
d["sam"]=8764018463

In [6]:
d

{'nashit': 8764018460,
 'jerry': 8764018461,
 'tom': 8764018462,
 'sam': 8764018463}

In [7]:
del d["sam"]

In [8]:
d

{'nashit': 8764018460, 'jerry': 8764018461, 'tom': 8764018462}

In [10]:
for key in d:
    print(key,":",d[key])

nashit : 8764018460
jerry : 8764018461
tom : 8764018462

In [12]:
for k,v in d.items():
    print(k,":",v)

nashit : 8764018460
jerry : 8764018461
tom : 8764018462

In [14]:
'tom' in d

True

In [15]:
'samer' in d

False

In [16]:
d.clear()

In [17]:
d

{}

# Tuple is list of values grouped together

In [18]:
point=(5,9)

In [19]:
point[0]

5

In [20]:
point[1]

9

List: all value have similar meaning(Homogeneous)

tuple: all value have different meaning(Heterogeneous)

Tuple are immutable.

In [23]:
address=("8-A-18","Bapu Nagar", "Bhilwara", 311001,"Rajasthan")

In [24]:
address

('8-A-18', 'Bapu Nagar', 'Bhilwara', 311001, 'Rajasthan')

In [25]:
point[0]=50

TypeError: 'tuple' object does not support item assignment