In [20]:
total=0
exp=[30,40,50,20,70]

In [21]:
total=exp[0]+exp[1]+exp[2]+exp[3]+exp[4]

In [22]:
total

210

In [23]:
total1=0
for v in exp:
    total1=total1+v

In [24]:
total1

210

In [26]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [30]:
exp=[30,40,50,20,70]
total2=0
for i in range(len(exp)):
    print("month:",i+1,'Expense:',exp[i])
    total2 = total2+exp[i]

month: 1 Expense: 30
month: 2 Expense: 40
month: 3 Expense: 50
month: 4 Expense: 20
month: 5 Expense: 70

In [31]:
total2

210

In [34]:
key="mobile"
location=["laptop","watch","mobile"]
for i in location:
    if i == key:
        print("Key is find")
        break
    else:
        print("Key is not found")

Key is not found
Key is not found
Key is find

In [37]:
for i in range(1,6):
    if i%2 == 0:
        continue
    print(i*i)

1
9
25

In [39]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5